<h1>Percentage based star ratings</h1>

<h2><em>Method 1)</em> Pure CSS/Unicode (84% rating)</h2>
<div class="star-ratings-css">
    <div class="star-ratings-css-top" style="width: 84%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>

<br/><br/>

<h2><em>Method 2)</em> Using a Sprite (52% rating)</h2>
<div class="star-ratings-sprite"><span style="width:52%" class="star-ratings-sprite-rating"></span></div>